/* https://www.youtube.com/watch?v=CJt7uZD_iK0&t=149s&ab_channel=FlorinPop */
/* COPY THIS LINK UP THERE ^^^ */
body {
  background-color: #1abc9c;
}
.preview {
  background-color: #fff;
}
.preview img {
  max-width: 100%;
}
textarea,
.preview {
  min-height: 400px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}